node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/typescript/.mailmap
node_modules/typescript/.npmignore
node_modules/typescript/AUTHORS.md
node_modules/typescript/CONTRIBUTING.md
node_modules/typescript/CopyrightNotice.txt
node_modules/typescript/LICENSE.txt
node_modules/typescript/package.json
node_modules/typescript/README.md
node_modules/typescript/test.config
node_modules/typescript/ThirdPartyNoticeText.txt
node_modules/typescript/bin/tsc
node_modules/typescript/bin/tsserver
node_modules/typescript/lib/cancellationToken.js
node_modules/typescript/lib/lib.d.ts
node_modules/typescript/lib/lib.dom.d.ts
node_modules/typescript/lib/lib.dom.iterable.d.ts
node_modules/typescript/lib/lib.es5.d.ts
node_modules/typescript/lib/lib.es6.d.ts
node_modules/typescript/lib/lib.es2015.collection.d.ts
node_modules/typescript/lib/lib.es2015.core.d.ts
node_modules/typescript/lib/lib.es2015.d.ts
node_modules/typescript/lib/lib.es2015.generator.d.ts
node_modules/typescript/lib/lib.es2015.iterable.d.ts
node_modules/typescript/lib/lib.es2015.promise.d.ts
node_modules/typescript/lib/lib.es2015.proxy.d.ts
node_modules/typescript/lib/lib.es2015.reflect.d.ts
node_modules/typescript/lib/lib.es2015.symbol.d.ts
node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
node_modules/typescript/lib/lib.es2016.array.include.d.ts
node_modules/typescript/lib/lib.es2016.d.ts
node_modules/typescript/lib/lib.es2016.full.d.ts
node_modules/typescript/lib/lib.es2017.d.ts
node_modules/typescript/lib/lib.es2017.full.d.ts
node_modules/typescript/lib/lib.es2017.object.d.ts
node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2017.string.d.ts
node_modules/typescript/lib/lib.esnext.asynciterable.d.ts
node_modules/typescript/lib/lib.esnext.d.ts
node_modules/typescript/lib/lib.esnext.full.d.ts
node_modules/typescript/lib/lib.scripthost.d.ts
node_modules/typescript/lib/lib.webworker.d.ts
node_modules/typescript/lib/protocol.d.ts
node_modules/typescript/lib/README.md
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.d.ts
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typescript.d.ts
node_modules/typescript/lib/typescript.js
node_modules/typescript/lib/typescriptServices.d.ts
node_modules/typescript/lib/typescriptServices.js
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/watchGuard.js
.vscode/settings.json
node_modules
